.result {
	font-size: 13px;
}

.desc {
	width: 58%;
	font-size: 14px;
	font-weight: bold;
}

.visuallySimilarImages {
	display: flex;
	flex-wrap: wrap;
}

.visuallySimilarImages > img {
	margin: 2px;
	border-radius: 5px;
	border: 1px solid darkgrey;
}