.result {
	font-size: 13px;
}

.play {
	width: 22%;
}

.desc {
	width: 58%;
	font-size: 14px;
	font-weight: bold;
}

.high {
	color: #12A163;
}

.score {
	width: 20%;
}

.visuallySimilarImages {
	display: flex;
	flex-wrap: wrap;
}

.visuallySimilarImages > img {
	margin: 2px;
	border-radius: 5px;
	border: 1px solid darkgrey;
}