body {
	font-family: 'Roboto', sans-serif;
}

.header {
	height: 80px;
	color: #FFFFFF;
	padding-top: 20px;
	text-align: center;
	background-color: #282923;
}

.search {
	padding: 30px;
	min-height: 800px;
	border-right: 3px solid #EBEBEB;
}

.result {
	min-height: 800px;
	padding: 30px 0px 30px 75px;
}

@media only screen and (max-width: 750px) {
	body {
		font-family: 'Roboto', sans-serif;
	}

	.search {
		padding: 30px;
		min-height: 400px;
		border-right: 0px solid #EBEBEB;
		border-bottom: 3px solid #EBEBEB;
	}

	.result {
		min-height: 400px;
		padding: 30px 30px 30px 30px;
	}
}